@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif   ;
}

:root{
    --fundo: #040404;
    --texto: #f5f7fc ;
    --principal: #e2ff00;
    --secundario: #e1e7ed;
}

body{
    background-color: var(--fundo);
    color: var(--texto);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: var(--texto);
    text-decoration: none
}

.logo {
    font-size: 25px;
    color: var(--texto);
    text-decoration: none
}

.menu a{
    font-size: 18px;
    color: var(--texto);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.menu a:hover,
.menu a.active {
    color: var(--principal);
}
